<h1><%= @task.title  %></h1>
<p><%= @task.details  %></p>

<% status = "Completed" if @task.completed %>
<% status = "Not completed" unless @task.completed %>

<%= form_for @task, url: {action: "update"} do |f| %>
  <!-- javascript code to submit when clicking on checkbox -->
  <% js_code = "document.querySelector('.edit_task').submit();" %>
  <%= f.check_box(:completed, onchange: js_code) %>
  <%= f.label(:completed, "#{status}") %>
  <%= f.submit "Done", id: 'hidden' %>
<% end %>


<%= link_to "List all", tasks_path %>
<%= link_to "Edit", tasks_edit_path %>
<%= link_to "Delete",  task_path(@task), method: :delete, data: { confirm: "Are you sure?" }%>
